{
    "extends": "airbnb-base",
    "env": {
        "browser": true
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 8
    },
    "globals": {
        "Swiper": true,
        "$": true,
        "jquery": true
    },
    "rules": {
        "no-console": 0,  
        "generator-star-spacing": 0,
        "no-duplicate-case": 2,
        "no-extra-semi": 2,
        "no-implicit-coercion": 0,
        "no-lonely-if": 2,
        "no-multi-spaces": 1,
        "no-multiple-empty-lines": [1, {"max": 3}],
        "no-redeclare": 2,
        "no-var": 2,
        "indent": [2, 4],
        "init-declarations": 0,
        "consistent-this": [2, "that"],
        "consistent-return": 0,
        "array-bracket-spacing": [2, "never"],
        "no-with": 2,
        "camelcase": [0, {"properties": "never"}],
        "operator-linebreak": ["error", "after", { "overrides": { "?": "before", ":": "before" } }]
    }
}