/* ==========================================================================
    变量（variable）（$）
        $c_   [color 颜色]
        $s_   [size 尺寸]
        $ff_  [font-family 字体类型]
        $cb_  [cubic-bezier 贝塞尔曲线]
        $z_  [z-index 层级]
============================================================================ */

// 颜色
$c_base_bg = #171717
$c_base_font = #eee
$c_none = transparent
$c_highlight= #ffee22
$c_highlight_font = #ffee22
$c_act_font = #ffee22

// 尺寸
$s_1920 = 1920px;
$s_1200 = 1200px;
$s_all_screen = 100%;
$s_base_font = 13px

